<plugin name="dagwidth">
	<algorithms>
		<algorithm name="Strategy" class="de.hu.dagwidth.alg.ComputeCopsStrategyAlgorithm"/>
		<algorithm name="CopsAndRobberGameGraphAlgorithm" class="de.hu.dagwidth.alg.CopsAndRobberGameGraphAlgorithm"/>
		<algorithm name="DAGConstruction" class="de.hu.dagwidth.alg.DAGConstruction"/>
		<algorithm name="Haven" class="de.hu.dagwidth.alg.ComputeHavenAlgorithm"/>
	</algorithms>
</plugin>