<plugin name="Finite-State-Automata">
	<description>
		<![CDATA[
			This plugin provides structures and algorithms related to
			finite state automata.
		]]>
	</description>
	<structures>
		<structure typeInfoClass="de.hu.dfa.structure.AutomatonTypeInfo"/>
	</structures>
	<algorithms>
		<algorithm name="Processing" class="de.hu.dfa.alg.Processing"/>
		<algorithm name="EmptinessTest" class="de.hu.nba.alg.EmptinessTest"/>
	</algorithms>
</plugin>