<plugin name="Gralog-Core-Plugin">
	<description>
		<![CDATA[
			This plugin provides structures representing simple graphs, i.e.
			graphs that have no loops or multiple edges.
		]]>
	</description>
	<structures>
		<structure typeInfoClass="de.hu.gralog.structure.types.LabeledSimpleDirectedGraphStructureTypeInfo"/>
		<structure typeInfoClass="de.hu.gralog.structure.types.LabeledSimpleUndirectedGraphStructureTypeInfo"/>
	</structures>
</plugin>