<plugin name="core">
	<graphs>
		<graph typeInfoClass="de.hu.games.graph.LabeledDirectedGraphTypeInfo"/>
		<graph typeInfoClass="de.hu.games.graph.LabeledUndirectedGraphTypeInfo"/>
	</graphs>
	<algorithms>
		<algorithm name="LabeledGraphGenerator" class="de.hu.games.graph.alg.types.LabeledGraphGenerator"/>
	</algorithms>
</plugin>