<plugin name="Two-player-games">
	<description>
		<![CDATA[
			This plugin provides structures and algorithms for
			a number of two-player-games played on directed graphs.
			In particular it supports so called simple-games and
			parity-games.
		]]>
	</description>
	<structures>
		<structure typeInfoClass="de.hu.simplegames.structure.GameArenaTypeInfo"/>
		<structure typeInfoClass="de.hu.parity.structure.ParityGameArenaTypeInfo"/>
	</structures>
	<algorithms>
		<algorithm name="Simple2PlayerGame" class="de.hu.simplegames.alg.Simple2PlayerGame"/>
		<algorithm name="StrategyImprovement" class="de.hu.parity.alg.StrategyImprovementAlgorithm"/>
	</algorithms>
</plugin>