<plugin name="Examples">
	<description>
		<![CDATA[
			This plugin provides example structures and algorithms 
			for Plugin-Developers.
		]]>
	</description>
	<algorithms>
		<algorithm name="SimpleProperties" class="de.hu.example.alg.SimpleProperties"/>
		<algorithm name="AdvancedProperties" class="de.hu.example.alg.AdvancedProperties"/>
		<algorithm name="StronglyConnectedSets" class="de.hu.example.alg.StronglyConnectedSets"/>
		<algorithm name="ShortestPathInteractive" class="de.hu.example.alg.ShortestPathInteractive"/>
	</algorithms>
	<structures>
		<structure typeInfoClass="de.hu.example.structure.SimpleStructureTypeInfo"/>
	</structures>
</plugin>