<plugin name="example">
	<algorithms>
		<algorithm name="SimpleProperties" class="de.hu.example.alg.SimpleProperties"/>
		<algorithm name="AdvancedProperties" class="de.hu.example.alg.AdvancedProperties"/>
		<algorithm name="StronglyConnectedSets" class="de.hu.example.alg.StronglyConnectedSets"/>
		<algorithm name="ShortestPathInteractive" class="de.hu.example.alg.ShortestPathInteractive"/>
	</algorithms>
	<graphs>
		<graph typeInfoClass="de.hu.example.graph.SimpleGraphTypeInfo"/>
	</graphs>
</plugin>