<plugin name="logic">
	<graphs>
		<graph typeInfoClass="de.hu.logic.graph.TransitionSystemTypeInfo"/>
	</graphs>
	<algorithms>
		<algorithm name="Simple First-Order Evaluation" class="de.hu.logic.alg.FirstOrderLogicsSimple"/>
		<algorithm name="Evaluate Mu Calculus" class="de.hu.logic.alg.EvaluateMuCalculus"/>
		<algorithm name="Evaluate Mu Calculus (including stages)" class="de.hu.logic.alg.EvaluateMuCalculusNew"/>
		<algorithm name="Build ParityGame-Arena" class="de.hu.logic.alg.BuildParityGameArena"/>
	</algorithms>
</plugin>