<plugin name="Logic">
	<description>
		<![CDATA[
			This plugin provides structures and algorithms
			related to <i>First-Order-Logic</i> and the
			modal <i>Mue-Calculus</i>.
		]]>
	</description>
	<structures>
		<structure typeInfoClass="de.hu.logic.structure.TransitionSystemTypeInfo"/>
	</structures>
	<algorithms>
		<algorithm name="First-Order-Evaluation" class="de.hu.logic.alg.FirstOrderLogicsSimple"/>
		<algorithm name="Mu-Calculus-Evaluation" class="de.hu.logic.alg.EvaluateMuCalculus"/>
		<algorithm name="Build Parity-Game-Arena" class="de.hu.logic.alg.BuildParityGameArena"/>
	</algorithms>
</plugin>