<plugin name="logic">
	<graphs>
		<graph typeInfoClass="de.hu.logic.graph.TransitionSystemTypeInfo"/>
	</graphs>
	<algorithms>
		<algorithm name="Simple First-Order Evaluation" class="de.hu.logic.alg.FirstOrderLogicsSimple"/>
		<algorithm name="Evaluate Mue-Kalkuel" class="de.hu.logic.alg.EvaluateMueKalkuel"/>
		<algorithm name="Evaluate Mue-Kalkuel (including stages)" class="de.hu.logic.alg.EvaluateMueKalkuelNew"/>
		<algorithm name="Build ParityGame-Arena" class="de.hu.logic.alg.BuildParityGameArena"/>
	</algorithms>
</plugin>